.MicroButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: none;
    padding: 5px;
}

.MicroButton:hover {
    background: rgba(255, 255, 255, 0.2);
}

.MicroButton:active {
    background: rgba(255, 255, 255, 0.5);
}
