.ItemList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    overflow-y: auto;
}

.ItemList::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.5);
    width: 5px;
}

.ItemList::-webkit-scrollbar-thumb {
    border-radius: 9em;
    background: var(--text-color);
}
