@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

:root {
    --primary-color: #3c8aff;
    --text-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
}

html,
body {
    background: linear-gradient(180deg, #343434 0%, #38354e 99.99%, #35424f 100%);
    height: 100vh;
}
